# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
/npm-debug.log
out/
build/phaser-2.3.0-master-imagecollection-support.min.js
build/phaser-2.3.0-master-imagecollection-support.map
build/phaser-2.3.0-master-imagecollection-support.js